$primary: #1d9a6c;
$primary1: #3fac6c;
$primary2: #88ce86;
$grey1: #444;
$grey2: #585858;
$grey3: #6c6c6c;
$grey4: #7f7f7f;
$grey5: #939393;
$grey6: #a7a7a7;
$grey7: #bababa;
$grey8: #cecece;
$grey9: #e2e2e2;
$grey10: #f6f6f6;
