@import './colors.scss';

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'JetBrains Mono', '宋体', monospace;
  color: $grey1;
}

a {
  color: $grey1;
  text-decoration: none;
}

.no-select {
  user-select: none;
}
